<ul class="nav nav-pills border-bottom mb-2">

  <li class="nav-item">
    <a class="btn btn-primary nav-link" aria-current="page" href="/admin" role="button">Orders</a>
  </li>
  <li class="nav-item">
    <a class="btn btn-primary nav-link" href="/admin/products" role="button">Products</a>
  </li>
</ul>