<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #FD5717;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Online Food</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
      </ul>
      <div class="navbar-nav float-left" style="margin-right: 60px;">
        <a class="nav-link main-nav-link me-3" aria-current="page" href="/menu">Menu</a>
        <% if(!currentUser){ %>
          <a href="/users/login" class="nav-link">Login</a>
          <a href="/users/register" class="nav-link">Register</a>
          <a href="/cart" class="nav-link"><span id="cartCounter">
              <%= session.cart && session.cart.totalQty>0 ? session.cart.totalQty:'' %>
            </span>
            <i class="fas fa-shopping-cart fa-lg"></i>
          </a>
          <% }else{ %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                <i class="far fa-user-circle fa-lg"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: 0;">
                <li><a class="dropdown-item main-nav-link" href="/users/profile">Profile</a></li>
                <li><a class="dropdown-item main-nav-link" href="/users/orders">Your orders</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item main-nav-link" href="/users/logout">Logout</a></li>
              </ul>
            </li>
            <a href="/cart" class="nav-link mx-2 main-nav-link"><i class="fas fa-shopping-cart fa-lg">
              </i>
              <span id="cartCounter">
                <%=session.cart && session.cart.totalQty>0 ?session.cart.totalQty:'' %>
              </span>
            </a>

            <% } %>
      </div>
    </div>
  </div>
</nav>