<% layout('/layout/boilerplate') %>
    <h2>Add Product</h2>
    <form class="py-4" action="" method="POST" style="border: 1px solid #FD5717;">
        <div class="row mb-3  justify-content-center">
            <label for="name" class="h1 col-sm-2 col-form-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="name" id="name" required>
            </div>
        </div>
        <div class="row mb-3  justify-content-center">
            <label for="image" class="h1 col-sm-2 col-form-label">Image</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="image" id="image" required>
            </div>
        </div>
        <div class="row mb-3  justify-content-center">
            <label for="description" class="h1 col-sm-2 col-form-label">Description</label>
            <div class="col-sm-4">
                <textarea class="form-control" name="description" id="description" required></textarea>
            </div>
        </div>
        <div class="row mb-3  justify-content-center">
            <label for="price" class="h1 col-sm-2 col-form-label">Price</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="price" id="price" required>
            </div>
        </div>
        <div class="row mb-3  justify-content-center">
            <label for="description" class="h1 col-sm-2 col-form-label">Category</label>
            <div class="col-sm-4">
                <select class="form-select" name="category" required style="cursor: pointer;">
                    <option value="pizza">Pizza</option>
                    <option value="burger">Burger</option>
                    <option value="ice_cream">Ice Cream</option>
                </select>
            </div>
        </div>
        <div class="row mb-3 justify-content-center mt-5">
            <div class="col-sm-1">
                <button class="btn btn-success">+Add</button>
            </div>
        </div>

    </form>