<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Food</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../partials/homenav') %>
            <main class="px-3">
                <h1>Online Food</h1>
                <p class="lead"> Feel Hungry? <br> Explore our wide variety of Menu and get your favourite food</p>
                <a href="/menu" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
                    Menu</a>
            </main>

            <footer class="mt-auto text-white-50">
                <p>&copy; 2021</p>
            </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
        crossorigin="anonymous"></script>
    <script>
        const navlinks = document.querySelectorAll('a')
        const currentLocation = window.location.href
        for (let link of navlinks) {
            if (link.href === currentLocation) {
                link.classList.add('active')
            }
        }
    </script>
</body>

</html>