<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/login.css">
  <title>Document</title>
</head>

<body class="d-flex bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="d-flex justify-content-center">
      <%if(typeof error !='undefined' ){%>
        <%for(let err of error){%>
          <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
              <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <strong>
              <%= err.msg%>
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <%}%>
            <%}%>
              <%if(success!=''){%>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <%=success%>.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% } %>
    </div>
    <div id="container">

      <form action="/users/save-password/?token=<%= user.emailToken %>" method="POST" class="w-75" method="POST">
        <p class="pt-3">Enter Your New password</p>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" disabled>
          <label for="password" class="form-label">New Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter new password">
          <label for="repassword" class="form-label">Re-enter new password</label>
          <input type="password" class="form-control" id="repassword" name="repassword"
            placeholder="Re-enter new Password">

        </div>
        <div class="text-center mb-2">
          <button type="submit" class="btn btn-primary">Save new Password</button>
        </div>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"></script>
  <script>

  </script>
</body>

</html>